<h1>PRIVACY POLICY</h1>
<p>
  Link Realty International Pty Limited ABN 17 617 026 641 respect your right to privacy. We are bound by and adhere to the
  Privacy Act 1988 (Cth) as amended (“Privacy Act”) and to the National Privacy Principles.
  <br>
  <br> This Privacy Policy is intended to set out the manner in which we manage any personal information provided by you to us,
  whether via the internet or otherwise.
  <br>
  <br> Unless you tell us not to, you consent to the use of your information including your name, address, email address and
  any other personal information you have given us for the purposes set out in this Privacy Policy or as authorised in the
  Privacy Act.
  <br>
  <br>
</p>

<h1>USE OF INFORMATION</h1>
<p>
  We may use your information for any legitimate business purpose. In the normal course of our business we may disclose information to other parties including, without limitation, potential tenants, landlords, personal referees, purchasers, vendors, media organisations, valuers, mortgage brokers, banks, lenders, on the internet, our clients (whether current, prospective or past), tradespersons, owner’s corporations, managing agents and government and statutory bodies. We will not disclose your information to a third party for any other purpose unless required or authorised by law to do so.<br><br>

  We may contact you by letter, email, fax, text message, telephone or any other means for the purposes of promotion, advertising or publicity, or any other legitimate business purpose unless you ask us not to.
</p>
