.footer, .docs-footer {
  background-color: #f2f2f2;
  color:rgba(29,29,29,.7);
  display: flex;
  justify-content: space-between;
}

.docs-footer {
  margin-top: 40px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

span.mat-button-wrapper {
  font-size: .71rem;
  letter-spacing: .1257em;
}

.fcontainer{
  width: 75%;
  display:flex;
  margin: 0 auto;
  justify-content: space-between;
}

spacer {
  flex: 1 1 auto;
}
