header {
  border-top: .1250rem solid #f8c3bd;
}
.mat-toolbar{
  flex-direction:row;
}
.docs-navbar-header {
  border-top: $borderTop;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0;
  justify-content: space-between;
}
.fill-remaining-space{
  flex: 1 1 auto;
}
.heading {
  color: #3d628c;
  line-height: 1em;
  vertical-align: baseline;
  text-transform: uppercase;
}
.lead {
  font-size: 1.11rem;
  color: #3d628c;
  line-height: 1em;
  vertical-align: baseline;
  margin: 2rem 0 1rem 0;
}
.mat-card-subtitle {
  font-size:.77rem !important;
}
.hcontainer{
  width: 75%;
  display:flex;
  margin: 0 auto;
  justify-content: space-between;
  line-height: 1;
}
.fixed-top {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
}

img {
  min-width: 100%;
}

@media screen and (max-width:800px) {
  .hcontainer {
    justify-content:center;
    flex-direction: column;
  }
  .mat-card-subtitle {
    font-size:.66rem !important;
    display:none !important;
  }
  .navbar-brand{
    margin-right: 0 !important;
    margin-left: 2rem !important;
  }
}
