<header><!--class="site-header"-->
  <!-- Fixed navbar -->
  <nav class="nav">
    <div class="hcontainer">
      <div><!--class="site-header__logo"-->
        <a class="navbar-brand" href="https://www.linkinc.com.au/" target="_blank" title="{{ hrefTitle }}" flex-start>
          <img src="{{ imageSrc }}" alt="{{ hrefTitle }}" style="width:120px;" class="logo-img" />
        </a>
      </div>
      <span class="spacer"></span>
      <div style="padding: 1.0rem 0;" flex end>
        ABN 17 617 026 641
      </div>
    </div>
  </nav>
</header>

