<cd-header></cd-header>
<div class="large-hero">
  <img class="hero-image large-hero__image" src="./assets/images/sydney-opera-house.jpg" border="0" alt="" [@transition]='state' />
  <div class="large-hero__text-content">
    <div class="wrapper">
      <h1 class="large-hero__title">Innovative Project Marketing</h1>
      <p class="large-hero__description">NETWORK OF LOCAL AGENCIES</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="card container" style="width: 75%;">
  <div class="card-body">
    <h1 class="card-title">{{ pageTitle }}</h1>
    <!-- <mat-form-field class="example-full-width">
      <br>
      <input matInput [matDatepicker]="picker" placeholder="Select the date">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <div class="input-group large-hero">
      <label for="exampleInputPassword1" class="input-group-text" id="">Input any letter(s) of cafe name&nbsp;&nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]='listFilter'>

    </div>

    <div class="input-group">
      <h3>
        Filtered by: {{ listFilter }}
      </h3>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered" *ngIf='cafes && cafes.length'>
        <thead>
          <tr>
            <th scope="col">Cafe Name</th>
            <th scope="col">Cafe Owner</th>
            <th scope="col">Opening Time</th>
            <th scope="col">Closing Time</th>
            <th scope="col">Open on Days of the Week</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let cafe of filteredCafes'>
            <td>{{ cafe.cafeName }}</td>
            <td>{{ cafe.owner }}</td>
            <td>{{ cafe.openTime }}</td>
            <td>{{ cafe.closeTime }}</td>
            <td>{{ cafe.dayOfTheWeek }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<cd-footer></cd-footer>
