<h1>DISCLAIMER</h1>
<h4>Website Use</h4>
<p>
  This Website is maintained by Link Realty International Pty Limited ABN 17 617 026 641. In these Conditions of Use and any
  reference to Link Realty International is taken to include a reference to the directors, officers, employees, agents and
  subsidiaries and related entities of Link Realty International.
</p>
<h2>EMAIL DISCLAIMER</h2>
<p>
  To save space when corresponding with our clients, Link Realty International inserts an abbreviated disclaimer at the end
  of each email message. For clarification purposes, the full Link Realty International email disclaimer can be found below:
  <br>
  <br> Any email (including all attachments) from Link Realty International is intended exclusively for the intended addressee.
  The contents of the email may be confidential and any confidentiality will not be surrendered because an email has been
  sent to the receiver by mistake. If you have received an email in error, please reply to the sender by reply email, delete
  the email from your system and destroy any copies. No part of any email should be reproduced, rewritten, changed or communicated
  without the written consent of Link Realty International. Any personal information received by you in an email from Link
  Realty International must be handled in accordance with the Privacy Act 1988 (Cth).
  <br>
  <br> All Link Realty International emails and any attachments should be scanned to detect viruses. Link Realty International
  accepts no liability for loss or damage caused by received emails or attachments due to viruses, interference, corruption
  or unauthorized access. For the avoidance of doubt, please note that Link Realty International accepts no responsibility
  for any email sent by Link Realty International employees that are of a personal nature or in breach of any law, Act, statute
  or regulation applicable in either the country of origin or receipt.
  <br>
  <br> No emails should be printed, stored, re-distributed, transmitted or forwarded unless permission has been granted by Link
  Realty International. Any views or opinions expressed in any email are solely those of the author and do not necessarily
  represent those of Link Realty International. While Link Realty International believes that its sources are reliable, we
  make no representation or warranty as to the accuracy of the contents.
  <br>
  <br>
</p>
